/* style.module.scss */

.container {
  padding: 20px;
}

.card {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(4, 1, 1, 1);
}

.cardContent {
  padding: 16px;

}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.cardText {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
